:root {
    --main-color: #b97e39;
    --main-color-dark: #8c4e0f;
    --main-color-light: #fffeee;
    --accent-color: #ac6514;
    --accent-color-dark: #6e3b0b;
    --accent-color-light: #fff4d8;
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

*:not(:empty)::selection {
    background: #b97e39;
    color: #fff;
}

body {
    background-color: #fffeee;
    overflow-x: hidden;
}

a {
    color: #ac6514;
    transition: all 0.3s ease-in-out;
}

a:link {
    text-decoration: underline;
}

a:hover,
abbr:hover {
    color: #b47a38;
    font-size: 105%;
}

a:active {
    color: #8c4e0f;
}

a:visited {
    color: #6e3b0b;
    text-decoration: dotted underline;
}

a:focus {
    border: 2px solid #b97e39;
}

ul {
    list-style-type: upper-roman;
}

li:nth-last-of-type(1) {
    font-size: 15px;
}

li:nth-of-type(1) {
    font-size: 15px;
}

abbr {
    color: #b97e39;
    text-decoration: none;
    border-bottom: 1px dotted #b97e39;
    cursor: help;
    transition: all 0.3s ease-in-out;
}

.page-wrapper {
    display: grid;
    grid-template-areas:
        "intro intro"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    gap: 0 30px;
}

.page-wrapper #zen-intro {
    grid-area: intro;
    display: grid;
    grid-template-areas: "header" "summary" "preamble";
    margin-bottom: 40px;
    align-items: end;
}

.intro>header[role^="ban"]>h2 {
    grid-area: title;
    font-size: 30px;
    width: minmax(min-content, max-content);
    padding-right: 10%;
    border-right: black 1px solid;
    margin-right: 20px;
}

.intro>header[role*="nne"] {
    display: grid;
    grid-template-areas: "logo title";
    grid-template-columns: 1fr 2fr;
    justify-items: end;
    align-items: center;
    margin-bottom: 20px;
}

.intro>header[role$="ner"]>h1 {
    grid-area: logo;
    justify-self: start;
    border-style: solid;
    border-width: 0 2px 2px 0;
    width: min-content;
    padding: 10px;
}

.intro div.summary {
    grid-area: summary;
    width: 50%;
    font-size: 15px;
    translate: 0 -70%;
    justify-self: end;
    text-align: right;
    border-right: black 1px solid;
    padding-right: 20px;
    margin-right: 20px;
}

.intro>.preamble {
    grid-area: preamble;
    text-align: left;
    width: 50%;
    justify-self: center;
    margin-right: 20px;
    padding-right: 20px;
}

.intro>.preamble>h3 {
    justify-self: center;
    padding-bottom: 10px;
    font-size: 30px;
    width: fit-content;
}

.intro>.preamble>h3::after {
    content: "";
    justify-self: center;
    display: block;
    border-bottom: black 1px solid;
    width: 130%;
    margin-top: 5px;
}

aside[role] {
    grid-area: aside;
    padding-left: 20px;
    height: fit-content;
}

aside[role="complementary"] h3 {
    padding-top: 10px;
    margin-bottom: 10px;
}

aside[role~="complementary"] li {
    margin-bottom: 10px;
}

aside[role|="complementary"] ul {
    margin-left: 25px;
    padding-left: 50px;
    border-left: black 1px solid;
    height: fit-content;
}

.page-wrapper .main.supporting {
    grid-area: main;
}

div+h3 {
    font-size: 25px;
}

h3:only-of-type {
    margin-top: 20px;
}

h3~p,
h3~ul {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
}

footer {
    justify-self: center;
    grid-area: footer;
    text-align: center;
    margin: 50px;
}

footer::before {
    content: "";
    justify-self: center;
    display: block;
    border-bottom: black 1px solid;
    width: 130%;
    margin-bottom: 15px;
}

p:first-child {
    font-size: 15px;
}

p:nth-child(2)::first-letter {
    font-size: 93%;
    font-family: 'Georgia', serif;
}

p:nth-last-child(3)::first-letter {
    font-size: 93%;
    font-family: 'Georgia', serif;
}

p:last-child {
    font-size: 17px;
}

#zen-supporting p:last-of-type {
    margin-bottom: 55px;
}

p::first-line {
    font-family: 'Georgia', serif;
    font-size: 93%;
}

abbr:only-child {
    letter-spacing: 3px;
}

h3::first-letter {
    font-family: 'Georgia', serif;
    font-size: 93%;
}

h3:first-of-type {
    font-size: 120%;
}