* {
    font-size: 20px;
}

body {
    background-color: #fffeee;
    overflow-x: hidden;
}


a {
    color: #ac6514;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

a:visited{
    color: #7b480e;
}

a:hover {
    text-decoration: underline;
    color: #b47a38;
    font-size: 105%;
}

ul {
    list-style-type: upper-roman;
}

abbr {
    color: #b97e39;
    text-decoration: none;
    border-bottom: 1px dotted #b97e39;
    cursor: help;
    letter-spacing: 3px;
}

.page-wrapper {
    display: grid;
    grid-template-areas:
    "intro intro"
    "aside main"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    gap:  0 30px;
}

.page-wrapper .intro {
    grid-area: intro;
    display: grid;
    grid-template-areas: "header" "summary" "preamble";
    margin-bottom: 40px;
    align-items: end;
}

.intro > header {
    display: grid;
    grid-template-areas: "logo title";
    grid-template-columns: 1fr 2fr;
    justify-items: end;
    align-items: center;
    margin-bottom: 20px;
}

.intro > header > h1 {
    font-size: 30px;
    grid-area: logo;
    justify-self: start;
    border-style: solid;
    border-width: 0 2px 2px 0;
    width: min-content;
    padding: 10px;
}

.intro > header > h2 {
    font-size: 40px;
    grid-area: title;
    width: minmax(min-content, max-content);
    padding-right: 10%;
}

.intro > header > h2 > abbr {
    font-size: 40px;
}

.intro > .summary {
    grid-area: summary;
    width: 25%;
    font-size: 20px;
    justify-self: end;
    text-align: right;
    border-right: black 1px solid;
    padding-right: 40px;
    margin-right: 10%;
}

.intro > .preamble {
    grid-area: preamble;
    width: 50vw;
    margin-right: 5%;
    padding-right: 20px;
}

.intro > .preamble > h3 {
    justify-self: center;
    font-size: 35px;
}

.intro > .preamble > p {
    justify-self: center;
    width: 50%;
    margin: 20px;
}

.sidebar {
    grid-area: aside;
    padding-left: 20px;
    height: fit-content;
}

.sidebar h3 {
    padding-top: 10px;
    margin-bottom: 10px;
}

.sidebar li {
    margin-bottom: 10px;
}
.sidebar ul {
    margin-left: 25px;
    padding-left: 50px;
    border-left: black 1px solid;
    height: fit-content;
}

.page-wrapper > #zen-supporting {
    grid-area: main;
    display: grid;
    grid-template-areas: "explanation" "participation" "benefits" "requirements";
}

.page-wrapper > #zen-supporting h3 {
    font-size: 30px;
}

.page-wrapper > #zen-supporting p {
    padding-left: 5%;
}

#zen-explanation {
    grid-area: explanation;
}

#zen-participation {
    grid-area: participation;
}

#zen-benefits {
    grid-area: benefits;
}

#zen-requirements {
    grid-area: requirements;
}

#zen-supporting h3 {
    font-size: 30px;
}

#zen-supporting p {
    margin-left: 5%;
    width: 50%;
}

footer {
    grid-area: footer;
}